.Rapp.history
images/2013-11-17_13.53.21-noFlowers-cleanend-arrows3 copy_twitter.jpg
images/2013-11-17_13.53.21-noFlowers-cleanend-arrows3 copy_twitter.png
pdfs/Aaron_Fisher_CV.lyx
pdfs/Aaron_Fisher_CV.tex
images/0846- Kara_David_Wedding.jpg
images/1080- Kara_David_Wedding.jpg
images/1257- Kara_David_Wedding.jpg
images/1258- Kara_David_Wedding.jpg
images/2013-11-17_13.53.21-noFlowers-cleanend-arrows2.jpeg
images/ben-aaron-2016-bike.jpg
images/fisher_high_res.jpg
images/fisher_low_res.jpg
images/fisher_mohonk1.jpeg
images/fisher_mohonk2.jpeg
images/fisher_mohonk3-lowres.jpg
images/fisher_mohonk3.jpg
pdfs/Aaron_Fisher_CV-long.lyx
pdfs/Aaron_Fisher_CV-lyxformat-474.lyx
pdfs/Aaron_Fisher_CV-short.lyx
pdfs/short-template.lyx
pdfs/short-template.tex
images/1258- Kara_David_Wedding-linkedin-circle.jpg
images/1258- Kara_David_Wedding.jpg.jpg
bars-p2-twitter.png
cube-p1-twitter.png
shap-combined.png
shap-combined.pptx
shap-p3-twitter.png
~$shap-combined.pptx
